@use 'styles/variables' as *;

body {
  font-family: $font_sans !important;
  background-color: $intro_color_background !important;

  .horizontal-container {
    display: flex;
    align-items: center;
  }

  #insight-intro-container {
    display: flex;
    flex-direction: column;
    margin: $intro_space_medium auto;
    width: 100%;
    max-width: $intro_max_width;

    h1 {
      color: $color_text_white !important;
      font-family: $font_serif;
      font-size: $intro_font_largest;
      font-weight: normal;
      margin-bottom: 0px;
    }

    h2 {
      color: $color_text_white !important;
      font-size: $intro_font_larger;
      margin: 0;
      font-weight: 500;
    }

    button.step-button {
      display: flex;
      font-size: $intro_font_small;
      height: auto;
      margin-top: $sidebar_space_largest;
      border-color: $color_border_white;

      &:not([disabled]) {
        &:visited,
        &:link {
          color: $intro_color_text_link;
          border-color: $color_border_dark;
        }

        &:hover,
        &:focus,
        &:active {
          color: $intro_color_text_hover;
        }
      }
    }

    input {
      &:hover,
      &:focus,
      &:active {
        color: $intro_color_text_hover;
        border-color: $intro_color_text_hover;
      }
    }

    .ant-steps {
      .ant-steps-item {
        &:not(.ant-steps-item-active),
        &:not(.ant-steps-item-disabled) {
          .ant-steps-item-container:hover {
            .ant-steps-item-title {
              color: $color_text_white;
            }
          }
        }

        &.ant-steps-item-disabled {
          .ant-steps-item-container:hover {
            .ant-steps-item-title {
              color: $intro_color_text_opaque;
            }
          }
        }
      }

      .ant-steps-item-container {
        .ant-steps-item-icon {
          border-color: $color_border_white;
          display: inline-flex;
          justify-content: center;
          align-items: center;

          span {
            color: $color_text_white;
          }
        }
      }

      .ant-steps-item-process {
        .ant-steps-item-container {
          .ant-steps-item-icon {
            background: $color_background_white;

            span {
              color: $color_text_black;
            }
          }
        }
      }

      .ant-steps-item-finish {
        .ant-steps-item-container {
          .ant-steps-item-content {
            .ant-steps-item-title:after {
              background-color: $color_background_white;
            }
          }
        }
      }
    }
  }
}
