@use 'styles/variables' as *;

#email-frame-container {
  padding: $intro_space_larger 0;

  input {
    margin-top: $intro_space_small;
    height: 50px;
    width: 41ch;
    font-size: $intro_font_small;
    border-left: none;
    border-right: none;
    border-top: none;
    outline: none;
    margin-bottom: $intro_space_small;
  }

  button.step-button:nth-of-type(1) {
    &:disabled {
      border: none;
    }
  }

  button.step-button:nth-of-type(2) {
    border: none;
  }
}
