.add-augmentation-tab {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 20px !important;
  padding: 5px !important;
  margin-right: -5px !important;
}

.add-augmentation-tab-header {
  display: flex;
  width: 100%;
  margin-bottom: -2px;

  & > span {
    display: inline-flex;
    cursor: text;
    margin-left: 100px;
    color: black;
    font-weight: bold;
    font-size: 16px;
    align-self: center;
  }
}
