@use 'styles/variables' as *;
@use 'styles/mixins' as *;

.share-button-container {
  .ant-input-affix-wrapper {
    width: 90%;
  }

  .tooltip-container {
    & > div {
      .ant-popover {
        display: block;
        pointer-events: auto !important;

        .copyable-text {
          border: 1px solid $color_border_medium;
          padding: $space_small;
          width: 300px;
        }

        .popover-button-container {
          display: flex;
          flex-direction: column;

          button {
            width: 100%;

            span {
              padding: $space_small !important;
            }
          }
        }

        .popover-title {
          @include fullWidthRow;

          .popover-close-button {
            display: flex;
            margin-left: auto;
            margin-right: $space_medium;

            span {
              color: $color_text_link !important;

              &:hover {
                color: $color_text_hover !important;
              }
            }
          }
        }
      }
    }
  }
}
