@use 'styles/variables' as *;

#actionbar {
  .insight-suggested-tab-popup {
    display: flex;
    justify-content: space-around;
    padding: $space_small;
    background: $color_background_white;
    border-bottom: 1px solid $color_border_medium;

    button,
    a {
      padding: 0;

      span {
        padding: $space_small 0;
        color: $color_text_medium;
      }
    }

    .insight-suggested-text {
      padding-top: $space_small;
    }
  }

  .tooltip-container {
    .ant-tooltip-inner {
      min-height: 0;
    }
  }
}
