.insight-suggested-tab-popup {
  display: flex;
  justify-content: space-around;
  padding: 5px 10px 0px;
  border-bottom: 1px solid #ccc;

  button {
    padding: 5px;
  }

  .insight-suggested-text {
    padding-top: 5px;
  }
}
