@use 'styles/variables' as *;
@use 'sass:math';

#builder-page.sidebar-page {
  .sidebar-page-wrapper {
    padding-top: 0 !important;

    .builder-page-collapse-panel {
      .builder-page-collapse-panel-title {
        font-weight: bold;
        font-size: $sidebar_font_larger;

        .popover-container {
          position: absolute;
          top: 0px;
          left: 0;
          z-index: math.abs($sidebar_z_index + 1);
        }
      }

      .ant-collapse-content-box {
        padding: 0;

        .ant-btn-dangerous {
          font-size: $icon_large;
          padding: 0 $space_small;
        }

        .augmentation-enabled-switch {
          display: flex;
          margin-left: auto;
          margin-right: $space_large;
        }
      }
    }
  }
}
