.edit-augmentation-page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #efefef !important;
  margin-top: -65px;
  align-items: flex-start !important;

  textarea.ant-input {
    max-height: 30px !important;
    margin-bottom: -10px !important;
  }

  .edit-augmentation-tab-header {
    display: flex;
    position: fixed;
    top: 0 !important;
    height: 55px;
    width: calc(100% - 5px);
    padding: 0;
    background: #efefef !important;
    align-items: center;

    & > button {
      display: inline-flex;

      &:last-child {
        margin-left: auto;
        margin-right: 10px;
      }
    }

    & > span {
      display: inline-flex;
      cursor: text;
      margin-left: 110px;
      color: black;
      font-weight: bold;
      font-size: 16px;
    }
  }

  .edit-augmentation-page-wrapper {
    display: block;
    position: absolute;
    height: calc(100%-75px);
    width: 100%;
    top: 75px;
    bottom: 0px;
    padding-bottom: 30px;
    background: #efefef;
    overflow-y: auto !important;

    h2 {
      padding-left: 10px;
      font-size: 16px;
    }

    .ant-collapse-header {
      font-weight: bold;
    }

    .ant-collapse-content-box {
      padding: 0;
    }

    .ant-row {
      background: white !important;
      min-height: 30px;
      height: auto;
      border-bottom: 1px solid #eee;
      align-items: center;
      padding: 10px 10px;

      &.button-row {
        padding: 0;

        .ant-col {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 10px 0;

          &:first-child {
            margin-right: -1px;
            border-right: 1px solid #eee;
          }
        }
      }

      .ant-col {
        width: 450px;

        & .ant-switch {
          display: flex;
          margin-left: auto;
          margin-right: 15px;
        }

        button {
          &.insight-augmentation-share-button,
          &.insight-augmentation-delete-button {
            margin: auto auto;
            margin-bottom: 10px !important;
          }

          & .insight-augmentation-share-button-content,
          & .insight-augmentation-delete-button-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 24px;

            & > span:last-child {
              color: black !important;
              font-size: 16px;
            }

            &.insight-augmentation-delete-button-content {
              color: red !important;

              & > span:last-child {
                color: red !important;
              }
            }

            &.disabled {
              cursor: not-allowed;
              color: #cecece !important;

              & > span:last-child {
                color: #cecece !important;
              }
            }
          }

          &.insight-augmentation-tab-button {
            background: white;
            text-align: left;
            font-weight: bold;

            &:hover {
              background: #efefef;
            }
          }
        }
      }
    }

    .edit-augmentation-logic-wrapper {
      margin-bottom: 20px;

      h3 {
        font-size: 14px;
      }

      .relative {
        position: relative;

        .ant-select-dropdown {
          width: 195px !important;
        }

        .ant-select-item-option {
          pointer-events: auto !important;
          align-items: center;
        }
      }

      .add-intent-button {
        border-radius: 0;
      }

      .search-intent-dropdown {
        &.ant-slide-up-leave,
        &.ant-slide-up-leave-active {
          opacity: 0;
        }

        &.ant-slide-up-enter,
        &.ant-slide-up-enter-prepare,
        &.ant-slide-up-enter-active,
        &.ant-slide-up-appear,
        &.ant-slide-up-appear-prepare,
        &.ant-slide-up-appear-active {
          pointer-events: auto !important;
          width: 100%;
          opacity: 1;

          .ant-select-item-option {
            pointer-events: auto !important;
            align-items: center;
          }
        }
      }

      .search-intent-block {
        .ant-select {
          width: 170px;
        }

        .ant-select-selector {
          width: 170px;
          height: auto;
          border-radius: 0;

          .ant-select-selection-search {
            right: 0;
          }
        }

        .ant-select-arrow {
          right: 11px;
        }
      }

      button.insight-augmentation-edit-evaluation {
        margin-left: -5px;
        margin-right: -2px;
      }

      span.operation-description {
        font-size: 14px;
        font-weight: bold;
      }

      .ant-row {
        background: #efefef !important;

        &.no-border {
          border-bottom: none !important;
        }

        &.no-padding {
          padding: 0 !important;
        }

        &.condition-footer {
          display: flex;
          justify-content: space-between;
        }

        button.add-operation-button {
          text-align: left;
        }

        .ant-col {
          display: flex;
          align-items: left;
          font-weight: normal !important;

          &:first-child {
            span {
              button {
                padding: 4px;
              }

              strong {
                color: #1890ff;
                text-decoration: underline;
              }
            }
          }
        }

        &.edit-input-row {
          display: flex;
          align-items: center;
          background: white !important;
          min-height: 20px;
          height: auto;
          border-bottom: 1px solid #eee;
          padding: 10px 10px;

          .condition-label {
            align-items: center;
          }
        }
      }
    }
  }
}
