.insight-tab-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  border-left: 1px solid #ccc;

  .ant-tabs-tab + .ant-tabs-tab {
    margin: 0;
  }

  .ant-tabs-extra-content {
    cursor: pointer;
    width: 50px;

    .expand-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      outline: 0;
    }
  }

  .insight-tab-bar {
    display: flex;
  }
}

.insight-tab-bottom-message {
  position: absolute;
  bottom: 0;
  background: #eee;
  width: 100%;
  text-align: center;
  border-top: 1px solid #ccc;
  color: black;
  padding: 10px;

  a {
    text-decoration: none;
  }
}

.insight-full-tab {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.insight-tab-iframe {
  display: flex;
  flex-grow: 1;
  border: none;
  padding: 0 0 50px 0;

  &.insight-expanded {
    width: 100% !important;
    max-width: 900px !important;
    align-self: center;
  }
}

.insight-readable-content {
  position: absolute;
  height: auto;
  overflow-x: auto;
  right: 0;
  left: 2px;
  top: 55px;
  bottom: 0;
  padding: 10px 15px;
  background: #ffffff;
}

.insight-tab-bar {
  margin-bottom: 0 !important;
  background: #f9f9f9;

  .ant-tabs-nav-more {
    display: none;
  }

  .ant-tabs-ink-bar {
    display: none;
  }
}

.ant-tabs-dropdown {
  display: none;
}
