.insight-tab-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  border-left: 2px solid #ccc;

  .ant-tabs-extra-content {
    cursor: pointer;
    width: 50px;
  }

  .insight-suggested-tab-popup {
    display: flex;
    justify-content: space-around;
    padding: 5px 10px;
    border-bottom: solid 1px #cecece;

    span {
      font-weight: bold !important;
    }
  }

  .insight-tab-bar {
    display: flex;
    height: 55px;

    .insight-tab-pill {
      display: flex;
      height: 100%;
      width: 100%;
      white-space: nowrap;
      align-items: center;
      justify-content: center;
    }

    .ant-tabs-tab {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      padding: 0;
      margin: 0;
      text-align: center;
      width: auto;
      color: #333;
      background: #efefef;
      cursor: pointer;
      border-radius: 0;
      border-bottom: 0;
      white-space: pre-wrap;
    }

    .ant-tabs-tab-active {
      color: #333;
      background-color: white;
      font-weight: bold;
    }
  }
}

.insight-tab-title {
  color: #333;
  padding: 10px 15px;

  &.hidden {
    display: none;
  }

  &.active {
    font-weight: bold;
    color: #333;
  }
}

.insight-tab-bottom-message {
  position: absolute;
  bottom: 0;
  background: #eee;
  width: 100%;
  text-align: center;
  border-top: 1px solid #ccc;
  color: black;
  padding: 10px;

  a {
    text-decoration: none;
  }
}

.insight-full-tab {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.insight-tab-iframe {
  display: flex;
  flex-grow: 1;
  border: none;
  padding: 0 0 50px 0;
}

.insight-readable-content {
  position: absolute;
  height: calc(100%-100px);
  overflow-x: auto;
  top: 55px;
  bottom: 45px;
  padding: 10px 15px;
}

.insight-tab-bar {
  margin-bottom: 0 !important;
  background: #efefef;

  .ant-tabs-nav-more {
    display: block;
    outline: none;
    cursor: default;
  }

  .ant-tabs-ink-bar {
    display: none;
  }
}

.ant-tabs-dropdown {
  display: none;
}
