@use 'styles/variables' as *;
@use 'styles/mixins' as *;

#meta-button-row {
  @include fullWidthRow;

  .button-container {
    @include centerContent;
    width: 50%;
    padding: $sidebar_space_small 0 $sidebar_space_larger 0;

    &:first-of-type {
      border-right: 1px solid $color_border_light;
    }

    button {
      display: block;

      & .insight-augmentation-share-button-content,
      & .insight-augmentation-delete-button-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: $sidebar_font_largest;

        & > span:last-child {
          color: $color_text_black !important;
          font-size: $sidebar_font_large;
        }

        &.insight-augmentation-delete-button-content {
          color: $color_icon_danger !important;

          & > span:last-child {
            color: $color_icon_danger !important;
          }
        }

        &.disabled {
          cursor: not-allowed;
          color: $color_text_lighter !important;

          & > span:last-child {
            color: $color_text_lighter !important;
          }
        }
      }

      &.insight-augmentation-tab-button {
        background: $color_background_white;
        text-align: left;
        font-weight: bold;

        &:hover {
          background: $color_background_lighter;
        }
      }
    }
  }
}
