#active-augmentations-page {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  overflow-y: auto !important;
  background: white;

  header {
    display: flex;
    height: 60px;
    left: 9999px;
    margin-bottom: 15px;
    background: #f9f9f9;
    cursor: default;
    transition-property: left;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

    &.active {
      display: flex;
      position: fixed;
      top: 0;
      left: 40px;
      width: calc(100% - 40px);
      background: #f9f9f9;
    }

    .title {
      position: absolute;
      display: inline-flex;
      align-self: center;
      left: 50%;
      transform: translate(-50%, 0px);
      color: black;
      cursor: text;
      font-size: 16px;
      font-weight: bold;
    }

    .setting-button {
      display: inline-flex;
      align-self: center;
      margin-left: auto;

      span {
        font-size: 24px;
      }
    }

    .close-button {
      display: inline-flex;
      align-self: center;
    }
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;

    .title {
      font-size: 16px;
      font-weight: bold;
      margin: 0 auto 10px 10px;
    }

    .sub-title {
      font-size: 11px;
      font-weight: 400;
      margin-left: 10px;
      margin-top: -10px;
      color: #999;
    }
  }
}
