@use 'styles/variables' as *;

#settings-page.sidebar-page {
  .sidebar-page-wrapper {
    .publication-notes-wrapper {
      align-self: center;
      width: 90%;
    }

    .publication-page-rating {
      font-size: $sidebar_font_largest;
      font-weight: bold;
      padding: $sidebar_space_large;
    }

    .publication-page-description {
      padding: $sidebar_space_large;
      font-style: italic;
    }

    .publication-page-user-review-row {
      padding: 0 $sidebar_space_large;
    }
  }
}
