@use 'styles/variables' as *;
@use 'sass:math' as *;

#privacy-toggle-container,
#privacy-frame-container {
  display: flex;
  flex-direction: column;

  a {
    text-decoration: underline;
    color: $color_text_white;
  }

  h3 {
    margin-top: $intro_space_tiny;
    font-size: $intro_font_large;
    font-weight: 200;
  }

  p {
    margin-top: 0;
    margin-bottom: math.div($intro_space_tiny, 2);
    font-size: $intro_font_smaller;
  }

  .privacy-explainer {
    max-width: $intro_max_privacy_explainer_width;
  }

  .privacy-toggle-button {
    margin-top: $intro_space_tiny;
    width: 100px;
    height: 45px;
    background-color: transparent;
    border: 1px solid $intro_color_border_opaque;

    .ant-switch-handle {
      width: 40px;
      height: 40px;

      &:before {
        border-radius: 40px;
      }
    }

    &.ant-switch-checked {
      background-color: transparent;

      .ant-switch-handle {
        left: calc(100% - 42px);
      }
    }
  }
}
