@use 'styles/variables' as *;
@use 'styles/mixins' as *;

.insight-relative {
  position: relative;
}

.insight-list {
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start;
}

.insight-row {
  display: flex !important;
  flex-direction: row !important;
  align-items: center;
}

.insight-no-border {
  border: none !important;
}

.insight-inline-medium-text-button {
  margin-left: -$sidebar_space_small;
  margin-right: -$sidebar_space_medium;
}

.insight-full-size-fixed {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
}

.insight-large-input-row {
  display: flex;
  align-items: center;
  height: auto;
  min-height: 30px;
  padding: $sidebar_space_medium;
  border-bottom: 1px solid $color_border_light;

  .insight-large-input-row-content:not(.insight-list) {
    display: flex;
    align-items: center;
    font-weight: normal !important;
  }
}

.insight-full-width {
  width: 100%;
}

.insight-full-width-dropdown {
  @include fullWidthDropdown;
}

.insight-create-lens {
  width: 95%;
  margin: auto;
}

.insight-create-note {
  width: 95%;
  margin: auto;
  align-items: center;
  display: flex;
  justify-content: center;
}

.insight-augmentation-row {
  display: flex;
  align-items: center;
  margin: auto;
  min-height: 50px;
  width: 95%;
  background: $color_background_white;
  text-align: left;

  .insight-augmentation-row-name {
    display: flex;
    width: 320px;
    flex-direction: column;

    .insight-augmentation-row-extra {
      color: $color_text_medium;
      font-size: $sidebar_font_small;
    }
  }

  .insight-augmentation-row-button {
    cursor: pointer;

    &:first-of-type {
      margin-left: auto;
    }

    &:last-child {
      margin-right: $sidebar_space_medium;
    }
  }
}

.insight-frame-overlay {
  display: block;
  position: absolute;
  inset: unset;
  width: calc(100% - #{(2 * $sidebar_space_medium)});
  padding: $sidebar_space_medium;
  background: $color_background_lighter;
}
