.insight-intro-title {
  text-align: left;
  padding: 50px;
  font-family: 'DM Serif Display', serif;
}

.insight-intro-title h1 {
  font-weight: bold;
}

.insight-intro-subtitle {
  font-family: Helvetica, sans-serif;
  max-width: 400px;
}

.insight-intro-privacy-note { 
  font-size: 16px;
}
.intro-panel-header {
  display: block;
  width: 100%;
}

.license-panel {
  display: flex;
  align-items: center;
}

.license-panel .activation-notice {
  margin-left: 30px;
}

.license-panel .ant-input {
  width: 400px;
  margin-right: 10px;
}

.privacy-panel {
  display: flex;
  flex-direction: column;
}

.privacy-panel-lr {
  display:flex;
}

.privacy-explainer {
  margin-top: 20px;
  color: #666;
  font-size: 12px;

}

.privacy-panel .privacy-toggle {
  width: 20px;
  margin-right: 10px;
}

.ant-collapse-header-collapsible-only .ant-collapse-header-text {
  cursor: default !important;
}

.ant-collapse-header-collapsible-only .ant-collapse-arrow {
  display: none !important;
}
