@keyframes MessageMoveOut {
  0% {
    max-height: 150px;
    padding: 8px;
    opacity: 1;
  }
  100% {
    max-height: 0;
    padding: 0;
    opacity: 0;
  }
}

html,
body {
  width: 100% !important;
  max-width: 100% !important;
}

/* Google Searchbar */
#searchform {
  z-index: 9998; /* ! MUST SET MANUALLY */
}

.insight-open-augmentation-builder-button {
  margin-top: 10px;
}

.insight-blocked-ad-overlay {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(hsla(0, 0%, 100%, 0.9) 0%, #fff);
}

.insight-blocked-ad-text-wrapper {
  position: absolute;
  left: 20px;
  top: 30px;
  font-weight: bold;
  font-size: 24px;
  color: #444;
}

.insight-blocked-ad-inner-text {
  font-weight: normal;
  margin-top: 10px;
  font-size: 16px;
}

.insight-hidden-domain-overlay {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(rgb(255 255 255 / 95%) 0%, rgb(255 255 255));
}

.insight-hidden-domain-text-wrapper {
  bottom: 50%;
  font-size: 14px;
  color: #777;
}

.insight-hidden-domain-inner-text {
  font-weight: normal;
  margin-top: 10px;
  font-size: 16px;
}

.insight-hidden-domain-button-root {
  display: inline;
}

.insight-hide-domain-action-button {
  padding: 0 2px !important;
}

.ant-message {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum';
  position: fixed;
  top: 8px;
  left: 0;
  z-index: 1010;
  width: 100%;
  pointer-events: none;
}

.ant-message-custom-content {
  display: flex;
  align-items: center;
}

.ant-message-notice {
  padding: 8px;
  text-align: center;
}
.ant-message-notice-content {
  display: inline-block;
  padding: 10px 16px;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08),
    0 9px 28px 8px rgba(0, 0, 0, 0.05);
  pointer-events: all;
}

.ant-message-success .anticon {
  color: #52c41a;
}

.ant-message-error .anticon {
  color: #ff4d4f;
}

.ant-message-warning .anticon {
  color: #faad14;
}

.ant-message-info .anticon,
.ant-message-loading .anticon {
  color: #1890ff;
}

.ant-message .anticon {
  position: relative;
  top: 1px;
  margin-right: 8px;
  font-size: 16px;
}

.ant-message-notice.move-up-leave.move-up-leave-active {
  -webkit-animation-name: MessageMoveOut;
  animation-name: MessageMoveOut;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
}

.ant-message-rtl {
  direction: rtl;
}

.ant-message-rtl span {
  direction: rtl;
}

.ant-message-rtl .anticon {
  margin-right: 0;
  margin-left: 8px;
}
