@use 'styles/variables' as *;
@import 'styles/generics', 'styles/animations';

.insight-gutter-button-root {
  position: absolute;
  display: block;
  margin-left: -100px;
  width: 100px;
  height: 100px;

  .gutter-icon-container {
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    transition: 100ms all ease-in-out;

    .tooltip-container {
      position: absolute;
      left: -100px;
      right: -100px;

      .gutter-tooltip {
        z-index: $sidebar_z-index !important;

        .ant-tooltip-inner {
          min-height: 0;
        }
      }
    }

    .publication-time-tracker {
      padding: $space_small;
      color: $color_text_medium;
    }

    .gutter-icon {
      width: 100px;
      height: 100px;
      font-size: $icon_larger;
      border: 0px;
      border-bottom: 0;
      box-shadow: none;
      pointer-events: all !important;
    }
  }
}
