@use 'styles/variables' as *;

.insight-tab-bar {
  .insight-tab-pill {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;

    &.hidden {
      display: none;
    }
  }

  .ant-tabs-tab {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: $sidebar_font_medium;
    color: $color_text_dark;
    background: $color_background_lighter;
    border-radius: 0;
    border-bottom: 0;
    cursor: pointer;
  }

  .ant-tabs-tab-active {
    color: $color_text_black;
  }

  .insight-tab-title {
    color: $color_text_medium;
    padding: $space_small $space_medium;

    &.hidden {
      display: none;
    }

    &.active {
      color: $color_text_black;
    }
  }

  .ant-tabs-ink-bar {
    background: $color_icon_link;
  }
}
