@use 'styles/variables' as *;

#sidebar-header {
  display: flex;
  justify-content: space-between;
  height: $sidebar_header_height;
  background: $color_background_lighter;

  .app-name-and-feedback {
    display: block;
    padding: $sidebar_space_small $sidebar_space_medium;

    .app-name {
      margin: 0;
    }

    .app-feedback {
      color: $color_text_medium;
      font-size: $sidebar_font_small;
      text-decoration: none;
    }
  }

  #header-actions-container {
    display: flex;
    justify-content: flex-end;
    padding: $sidebar_space_medium $sidebar_space_large;
  }
}
