.sidebar-tab-domains {
  display: flex;
  height: auto;
  min-height: 40px;
  width: 100%;
  background: #ffffff;
  align-items: center;
  margin-bottom: 5px;
  padding: 0px 20px 10px 20px;
  white-space: nowrap;
  flex-wrap: wrap;
  border-bottom: 1px solid #ccc;

  .sidebar-tab-domain-text {
    text-decoration: underline;
    text-decoration-color: #ccc;
    cursor: pointer;
    color: #333;
  }
}

