@use 'styles/variables' as *;

#gutter-page.sidebar-page {
  &.inline-gutter-page-embedded {
    position: relative;
    height: auto;
    top: auto;
  }

  .domain-state-checkbox-container {
    padding: $sidebar_space_medium;
  }

  .create-local-search-domain-augmentation-button {
    text-align: left;
  }

  .domain-text {
    display: block;
    color: $color_text_dark;
    font-weight: bold;
    margin-right: auto;
    font-size: $sidebar_font_large;
    margin: $sidebar_space_medium;
  }
}
