#inline-gutter-options-page {
  position: absolute;
  height: calc(100% - 60px);
  width: 100%;
  top: 60px;
  bottom: 0;
  background: #ffffff;
  overflow-y: auto !important;

  .gutter-page-header {
    display: flex;
    position: fixed;
    top: 0 !important;
    height: 60px;
    width: calc(100% - 5px);
    padding: 0;
    background: #f9f9f9 !important;
    align-items: center;

    .insight-augmentation-tab-button {
      display: inline-flex;
    }

    .insight-domain-tab-title {
      display: inline;
      position: absolute;
      cursor: text;
      color: black;
      font-size: 16px;
      font-weight: bold;
      left: 50%;
      transform: translate(-50%, 0px);
    }
  }

  .gutter-page-button-row {
    display: flex;
    align-items: center;
    width: 95%;
    margin: 10px auto;
    padding: 5px 0;

    .augmentation-name-box {
      display: flex;
      width: 320px;
      flex-direction: column;

      .augmentation-name-bo-domain-list {
        font-size: 11px;
        color: #666666;
      }
    }

    .gutter-page-row-button {
      cursor: pointer;
      border-radius: 3px;

      &:first-of-type {
        margin-left: auto;
      }

      &:last-child {
        margin-right: 10px;
      }
    }
  }

  .create-local-search-domain-augmentation-button {
    text-align: left;
  }

  .title {
    font-size: 16px;
    font-weight: bold;
    margin: 0 auto 10px 10px;
  }

  .sub-title {
    font-size: 11px;
    font-weight: 400;
    margin-left: 10px;
    margin-top: -10px;

    &.domain-text {
      display: block;
      color: #333;
      font-weight: bold;
      margin-right: auto;
      font-size: 16px;
      margin: 10px;
    }
  }
}
