.insight-sidebar-toggle-button {
  display: none;
  right: 0;
  bottom: 10px;
  border: 1px solid #444;
  background: rgba(255, 255, 255, 0.9);
  line-height: 1.3 !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !important;
  color: #444 !important;
  border-right: none;
  cursor: pointer;
  width: 200px !important;
  padding: 15px !important;
  border-radius: 25px 0 0 25px !important;
  font-size: 13px;

  .ant-list-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &.empty {
    display: flex;
    flex-direction: column;
    cursor: default;

    .ant-btn {
      font-weight: bold;
      font-size: 16px;
      color: #444;

      span {
        padding-top: 2px;
      }
    }

    .ant-divider {
      margin: 5px 0;
      background-color: white;
    }
  }

  &.add-augmentation-button {
    font-size: 40px !important;
    font-weight: 900;
    justify-content: flex-start;
  }
}
