@use 'styles/variables' as *;
@use 'styles/animations' as *;

.insight-sidebar-toggle-button {
  @include shakeAnimation;
  display: none;
  right: 0;
  bottom: $sidebar_space_medium;
  width: $sidebar_toggle_width !important;
  color: $color_background_darker !important;
  background: $color_background_white;
  font-size: $sidebar_font_medium;
  border-right: none;
  border-radius: $sidebar_space_medium 0 0 $sidebar_space_medium !important;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;

  h4 {
    font-weight: normal;
  }

  .ant-list {
    width: 100%;

    .ant-list-items {
      list-style-type: none;
      width: 100%;
      padding: 0;
      margin-left: $sidebar_space_medium;

      .ant-list-item {
        padding: 0;
        border-bottom: 0;

        .ant-list-item-meta-title {
          margin: $sidebar_space_medium;
        }
      }
    }
  }

  .insight-sidebar-publication-rating-nub {
    font-size: $sidebar_font_medium;
    border-right: none;
    margin-left: $sidebar_space_large;
  }

  .insight-sidebar-toggle-appname {
    position: relative;
    text-align: center;
    font-size: $sidebar_font_medium;
    font-weight: bold;
    writing-mode: vertical-lr;
    padding: $sidebar_space_large;
    padding-bottom: $sidebar_space_medium;
    border-left: 1px solid $color_border_medium;
    transform: rotateZ(180deg);
  }
}
