.augmentation-row {
  display: flex;
  width: 100%;
  align-items: center;
  height: 50px;
  background: white;
  text-align: left;

  .augmentation-name {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }

  .augmentation-stat-text {
    color: #999999;
    font-size: 11px;
  }

  .force-left-margin {
    margin-left: auto !important;
  }

  .augmentation-row-button {
    cursor: pointer;
    border-radius: 3px;

    &:first-of-type {
      margin-left: auto;
    }

    &:last-child {
      margin-right: 10px;
    }
  }
}
