.insight-search-needs-improvement-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 450px;
  margin-top: -55px;
  height: 100vh;
  background: #cecece;
  z-index: 1050;

  button {
    span {
      font-size: 16px;
      font-weight: bold;
    }
  }

  .external-link {
    margin-bottom: 30px;
    align-self: center;
    font-size: 36px;

    a {
      color: black !important;
      font-weight: bold;
      text-decoration: underline;

      &:visited,
      &:hover,
      &:focus,
      &:active {
        color: black !important;
      }
    }
  }
}
