.edit-action-dropdown {
  justify-content: flex-start;

  .dropdown-content {
    top: -15px;
    left: 0;
  }
}

.action-value-row {
  display: flex;
  align-items: center;
  padding: 5px 10px;

  button {
    position: absolute;
    right: 0;
  }
}

.action-value-col {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: flex-start;

  .dropdown {
    cursor: pointer;
    justify-self: center;
    min-height: 50px;
  }

  .edit-input-row {
    display: flex;
    align-items: center !important;
    flex-wrap: nowrap;
  }
}

.edit-input-delete-button {
  font-size: 20px;
  margin: 0 -10px;
}
