@use 'styles/variables' as *;

#welcome-frame-container {
  padding: $space_intro_larger 0;

  #fade-section {
    opacity: 0;
    transition: opacity 800ms 0s ease-in;

    &.fade-section-visible {
      opacity: 1;
    }
  }
}
