@use 'styles/variables' as *;

#tab-meta-container {
  display: flex;
  border-bottom: 1px solid $color_border_medium;
  background: $color_background_lightest;

  #meta-info-icon-container {
    margin: auto $sidebar_space_medium;
  }

  #sidebar-tab-meta {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    padding: $sidebar_space_medium 0;

    #domain-title-container {
      display: flex;
      align-items: center;

      .subtab-open-new-tab {
        padding-right: $sidebar_space_larger;
        border-right: 1px solid $color_border_medium;
      }

      .ant-btn {
        padding: 0;
      }

      #publication-meta {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: $sidebar_space_larger;

        .domain-state-checkbox-container {
          padding: 0;
        }

        strong {
          font-family: $font_mono;
        }
      }
    }

    .meta-text {
      color: $color_text_dark;
      margin: 0;
      padding: 0;
      max-width: calc(100% - 60px);

      &.expanded {
        display: contents;
      }

      .space-right {
        margin-right: $sidebar_space_small;
      }
    }

    .meta-link {
      display: inline;
      color: $color_text_dark;
      text-decoration: underline;
      text-decoration-color: $color_border_medium;
      cursor: pointer;

      &:hover {
        color: $color_text_hover;
        text-decoration-color: $color_text_hover;
      }
    }

    #meta-toggle-button {
      display: inline;
      height: auto;
      padding: 0 $sidebar_space_medium;
    }
  }
}

#insight-sidebar-container.insight-expanded {
  #tab-meta-container {
    .meta-text {
      width: 90vw;
    }
  }
}
