.add-augmentation-tab {
  display: flex;
  height: 100%;
  width: 100%;
  font-size: 24px !important;
}

.add-augmentation-tab-header {
  display: flex;
  height: 55px;
  cursor: default;

  &.active {
    position: fixed !important;
    top: 0 !important;
    left: 31px !important;
    display: flex;
    height: 55px;
    width: 430px;
    background: #efefef;
  }

  & > button {
    display: inline-flex;
    align-self: center;

    &.hidden {
      opacity: 0;
      cursor: default !important;
    }
  }

  & > span {
    display: inline-flex;
    cursor: text;
    color: black;
    margin-left: 130px;
    font-weight: bold;
    font-size: 16px;
    align-self: center;
  }
}
