.add-augmentation-tab {
  display: flex;
  width: 40px !important;
  align-items: center;
  justify-content: center;
  font-size: 24px !important;
  padding: 5px !important;
}

.add-augmentation-tab-header {
  display: flex;
  height: 55px;
  cursor: default;

  &.active {
    position: fixed !important;
    top: 0 !important;
    display: flex;
    height: 55px;
    width: 450px;
    z-index: 10000;
    background: #efefef;
  }

  & > button {
    display: inline-flex;
    align-self: center;

    &.hidden {
      opacity: 0;
      cursor: default !important;
    }
  }

  & > span {
    display: inline-flex;
    cursor: text;
    margin-left: 110px;
    color: black;
    font-weight: bold;
    font-size: 16px;
    align-self: center;
  }
}
