@use 'styles/variables' as *;
@use 'styles/mixins' as *;
@use 'styles/animations' as *;
@use 'sass:math';
@import 'styles/generics';
@import 'styles/overwrites';

body {
  @include reset;
  font-family: $font_sans;
  font-size: $sidebar_font_medium;

  #insight-sidebar-container {
    @include slideAnimation;
    background: $color_background_white;

    .sidebar-tab-panel {
      background: $color_background_saturated;
    }

    .sidebar-page {
      background: $color_background_saturated;

      .sidebar-page-header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        height: $sidebar_header_height;
        background: $color_background_lighter;
        border-bottom: 1px solid $color_border_medium;
        cursor: default;

        .left-button {
          margin-left: $sidebar_space_tiny;
          margin-right: auto;
        }

        .page-title {
          @include centerBox;
          color: $color_text_black;
          font-size: $sidebar_font_large;
          font-weight: bold;
          cursor: text;
        }

        .right-button {
          margin-left: auto;
          margin-right: $sidebar_space_tiny;
        }
      }

      .sidebar-page-wrapper {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: math.abs($sidebar_header_height + 1px);
        left: 0;
        right: 0;
        bottom: 0;
        max-width: $sidebar_max_page_width;
        padding-top: $sidebar_space_medium;
        overflow-y: auto !important;
        background: $color_background_white;

        section {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          width: 100%;

          .title {
            @include reset;
            font-size: $sidebar_font_large;
            font-weight: bold;
            margin-left: $sidebar_space_medium;
            margin-bottom: $sidebar_space_small;
          }

          .sub-title {
            @include reset;
            color: $color_text_light;
            font-size: $sidebar_font_small;
            font-weight: normal;
            margin-left: $sidebar_space_medium;
            margin-bottom: $sidebar_space_large;
          }
        }
      }
    }

    &.insight-expanded {
      .sidebar-page {
        .sidebar-page-wrapper {
          @include centerBox;
        }
      }
    }
  }
}
