body {
  line-height: 1.3 !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !important;
  color: #eee !important;
  font-size: 14px !important;
  font-weight: normal !important;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: left;
  background: transparent;

  .ant-tooltip-inner {
    min-height: 0;
  }
}

#insight-sidebar-container {
  background: white;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 480px;
  transition-property: width;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

  &.hidden {
    width: 0;
  }

  &.insight-expanded {
    .insight-full-tab,
    .ant-tabs-content-holder {
      background: #f1f3f4 !important;
    }

    .insight-tab-pill {
      max-width: none;
    }

    .ant-tabs-extra-content:first-of-type {
      width: auto;

      .expand-icon {
        margin: 0;
      }
    }

    .insight-active-augmentations-page,
    .edit-augmentation-page-wrapper {
      transform: translate(-50%, 0px);
      left: 50%;
      max-width: 900px;
      position: absolute;
      width: 100%;
    }

    .edit-augmentation-tab-header {
      width: 100%;
      left: 0 !important;

      & > span {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        margin-left: 0 !important;
      }

      & > button:last-child {
        margin-right: 0;
      }
    }

    .add-augmentation-tab-header {
      &.active {
        left: 0 !important;

        & > span {
          position: absolute;
          left: 50%;
          transform: translate(-50%, 0);
          margin-left: 0 !important;
        }
      }
    }
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  3% {
    transform: translate(-1px, -4px) rotate(-1deg);
  }
  6% {
    transform: translate(-6px, 0px) rotate(1deg);
  }
  9% {
    transform: translate(6px, 4px) rotate(0deg);
  }
  12% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  15% {
    transform: translate(-1px, 4px) rotate(-1deg);
    background: #ccc;
  }
  18% {
    transform: translate(-6px, 1px) rotate(0deg);
  }
  21% {
    transform: translate(6px, 1px) rotate(-1deg);
  }
  24% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  27% {
    transform: translate(1px, 4px) rotate(0deg);
  }
  30% {
    transform: translate(1px, -4px) rotate(-1deg);
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
  }
}

.insight-tour-shake {
  animation: shake 1s;
  animation-iteration-count: 2;
  animation-delay: 1000ms;
}
