@use 'styles/variables' as *;

#queries-frame-container {
  padding: $space_intro_larger 0;

  .ant-collapse-content {
    background-color: transparent;
  }

  .ant-collapse {
    margin-top: $space_intro_tiny;
  }

  .step-button {
    font-size: $intro_font_small;
    height: auto;
    margin-top: $space_intro_tiny;
    color: $color_text_white;
    border-color: $color_border_white;
  }

  .ant-list {
    margin-top: $space_intro_tiny;

    a {
      font-size: $intro_font_smaller;
      text-decoration: underline;
      color: $color_text_intro_link;

      &:visited,
      &:link {
        color: $color_text_intro_link;
      }

      &:hover,
      &:focus,
      &:active {
        color: $color_text_intro_hover;
      }
    }

    .ant-list-header {
      display: flex;

      h3,
      button {
        display: inline;
        font-weight: 300;
      }

      button {
        margin-right: $space_intro_tiny;
        color: $color_text_intro_opaque;

        span {
          font-size: $intro_font_medium;
        }

        &:visited,
        &:link {
          color: $color_text_intro_opaque;
        }

        &:hover,
        &:focus,
        &:active {
          color: $color_text_intro_hover;
        }
      }
    }
  }
}
