#queries-frame-container {

  .ant-collapse-content {
    background-color: transparent;
  }

  padding: 150px 0;
  .ant-collapse {
    margin-top: 20px;
  }

  .step-button {
    font-size: 24px;
    height: auto;
    margin-top: 20px;
    color: #fff;
    border-color: #ffffff;
  }

  .ant-list {
    margin-top: 20px;

    a {
      font-size: 18px;
      text-decoration: underline;
      color: #fff;

      &:visited,
      &:link {
        color: #fff;
      }

      &:hover,
      &:focus,
      &:active {
        color: rgba(255, 255, 255, 1);
      }
    }

    .ant-list-header {
      display: flex;

      h3,
      button {
        display: inline;
        font-weight: 300;
      }

      button {
        margin-right: 15px;
        color: rgba(255, 255, 255, 0.45);

        span {
          font-size: 28px;
        }

        &:visited,
        &:link {
          color: rgba(255, 255, 255, 0.45);
        }

        &:hover,
        &:focus,
        &:active {
          color: rgba(255, 255, 255, 1);
        }
      }
    }
  }
}
